IMAGE_NAME=ghcr.io/valentk777/sea-battle-paper-web
IMAGE_TAG=latest
POSTGRES_DB=sea_battle_paper
POSTGRES_USER=sea_battle_paper
POSTGRES_PASSWORD=change-me
OPEN_TELEMETRY_ENABLED=true
OPEN_TELEMETRY_SAMPLE_RATIO=0.2
OPEN_TELEMETRY_OTLP_ENDPOINT=http://host.docker.internal:4317
